<!DOCTYPE html>
<html>
  <head>
    <title>FlaskDrive</title>
  </head>
  
  <body>
      <script type="text/javascript">
          function Upload() {
              var fileUpload = document.getElementById("txtFileUpload");
              var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
              if (regex.test(fileUpload.value.toLowerCase())) {
                  if (typeof (FileReader) != "undefined") {
                      var reader = new FileReader();
                      reader.onload = function (e) {
                          var table = document.createElement("table");
                          var rows = e.target.result.split("\n");
                          for (var i = 0; i < rows.length; i++) {
                              var cells = rows[i].split(",");
                              if (cells.length > 1) {
                                  var row = table.insertRow(-1);
                                  for (var j = 0; j < cells.length; j++) {
                                      var cell = row.insertCell(-1);
                                      cell.innerHTML = cells[j];
                                  }
                              }
                          }
                          var dvCSV = document.getElementById("dvCSV");
                          dvCSV.innerHTML = "";
                          dvCSV.appendChild(table);
                      }
                      reader.readAsText(fileUpload.files[0]);
                  } else {
                      alert("This browser does not support HTML5.");
                  }
              } else {
                  alert("Please upload a valid CSV file.");
              }
          }
      </script>
    <div class="content">

    
        <p>Validating file and uploading it to s3</p>

    
        <div>
          <h3>Upload your file here:</h3>
          <input type="button" id="see" value="see data" onclick="Upload()" />
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file id="txtFileUpload" accept=".csv">
            <input type=submit value=Upload>
          </form>
        </div>
        <div id="dvCSV">
        </div>


    </div>
  </body>
</html>
